.react-datepicker-popper {
  right: 2% !important;
  // transform: translate(500px, 314px);
}
.appointment-date-button {
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  border-radius: 4px;
  background-color: #216ba5;
  font: inherit;
  color: #fff;
  &.disabled {
    pointer-events: none;
  }
}
.react-datepicker-wrapper i {
  margin-right: 15px;
}
form {
  background-color: #00000059 !important;
  padding: 40px;
}

.garage-select {
  &.disabled {
    pointer-events: none;
  }
}
