.summary-card {
  background-color: #00000059 !important;
  margin-bottom: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.map-container {
  padding: 0 !important;
  margin: 0 !important;
}
.card-body {
  margin: 0 !important;
  padding: 0;
}
