.summary-card {
  background-color: #00000059 !important;
  margin-bottom: 20px;
  height: 602px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.map-container {
  padding: 0 !important;
  margin: 0 !important;
}
.card-body {
  margin: 0 !important;
  padding: 0;
}
.summary-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
@media only screen and (max-width: 800px) {
  .summary-wrapper {
    .summary-card {
      height: max-content;
      margin: 0;
    }
  }
}
